<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
        }
    </style>
</head>
<body>

    <form action="#" method="post">
        <p>
            <label for="player">Player:</label>
            <input type="text" name="player" id="">
        </p>
        <p>
            <label for="power">Power:</label>
            <input type="text" name="power" id="">
        </p>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>